.react {
    background-color: #d4f8f5;
}

.heading {
    color: white;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sub-heading {
    background-color: white;
}

.p {
    background-color: white;
    justify-content: space-evenly;
}

.eg {
    color: white;
    background-color: darkslategray;
    justify-content: space-evenly;
}